# =========================================================== -*- conf-toml -*-
# @file    .flake8
# @brief   Project-wide Flake8 configuration
# @created 2022-04-26
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/caltechlibrary/dibs
#
# Note: as of version 4.0, flake8 does NOT read global configuration files
# from ~/.flake8 or ~/.config/flake8.  If you had such a config file of your
# own, and you're looking at this config file and wondering how the two will
# interaction, the answer is simple: they won't.  Only this file matters.
# =============================================================================

[flake8]
ignore =
    # We prefer to put spaces around the = in keyword arg lists.
    E251,
    # We try to stick to 80 chars but don't want to be hung up on it.
    E501,
    # We prefer two lines between methods of a class.
    E303,
    # Sometimes we want to align keywords, and these rules run counter to it.
    E271,
    E221,
    # In some situations, it's more readable to omit spaces around operators
    # and colons.
    E203,
    E226

per-file-ignores =
    # The plac.annotations lines contain hand-aligned text, which triggers
    # flake8's check for spaces after commas.
    admin/*:E241, E304, E402
    admin/run-server:E241, E304, E402, F541, W605
    admin/set-server-permissions: E241, E304, E402, F541
