[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
mod-wsgi = "*"
python-decouple = "*"
python-daemon = "*"
configparser = "*"
arrow = "*"
yurl = "*"
topi = "*"
trinomial = "*"
boltons = "*"
bottle-fdsend = "*"
coif = "*"
commonpy = "*"
werkzeug = "==2.1.2"
str2bool = "*"
humanize = "*"
expiringdict = "*"
lru-dict = "*"
plac = "*"
pokapi = "*"
rich = "*"
sidetrack = "*"
peewee = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
