boltons         >= 20.2.0
bottle          >= 0.12.0
bottle-session  >= 1.0
commonpy        >= 1.0.0
mod-wsgi        >= 4.7.1
peewee          >= 3.14.0
plac            >= 1.2.0
python-daemon   >= 2.2.4
python-decouple >= 3.4
rich            >= 9.2.0
sidetrack       >= 1.4.0
