# =============================================================================
# @file    requirements.txt
# @brief   Python dependencies for DIBS
# @created 2021-01-12
# @updated 2025-09-19 RSD
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/caltechlibrary/dibs
# =============================================================================

arrow
boltons
bottle
bottle-fdsend
coif
commonpy
expiringdict
humanize
lru-dict

# Note: mod_wsgi is only needed by run-server. You can comment it out if you
# are not using run-server and you run into problems installing it on your
# system. (Tip: on Ubuntu 20, mod_wsgi won't install without the apache2-dev
# library on the system. If you get an error about "apxs" missing, try doing
# `sudo apt install apache2-dev` and then try pip install mod_wsgi again.)
mod-wsgi

peewee
Pillow
plac
pokapi
python-daemon
python-decouple
rich
sidetrack
str2bool
trinomial
topi
yurl
werkzeug        == 2.1.2

