/* I find the shade of gray of the placeholders in Chrome & Firefox to be too
   dark; it looks too close to typed text for my tastes.  This lightens it.
 */
::-webkit-input-placeholder                   { color: #bbb; }
html .form-control::placeholder               { color: #bbb; }
html .form-control::-webkit-input-placeholder { color: #bbb; }
html .form-control:-moz-placeholder           { color: #bbb; }
html .form-control::-moz-placeholder          { color: #bbb; }
html .form-control:-ms-input-placeholder      { color: #bbb; }

a {
  color: black;
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}
