/* ============================================================================
 * File:    dibs-uv.css
 * Brief:   Style file for using the Universal Viewer in DIBS
 * Created: 2021-04-27
 * License: Please see the file named LICENSE in the project directory
 * Project: https://github.com/caltechlibrary/dibs
 * ============================================================================
 */

/* Adjustments to UV elements on the viewer page ........................... */

html, body {
  height: 100%;
}
      
body {
  margin: 0;
  padding: 0;
}

#uv {
  width: 100%;
  height: 100%;
}

#uv-container {
  padding: 0 5px;
  overflow-x: hidden;
  position: relative;
}

.uv-div {
  position: relative;
}

/* The next couple are to get rid of the labels in the left-hand thumbnail
panel, because they're confusing and needless for our purposes. */

div.info > span.index {
  display: inline !important;
  font-size: 10pt !important;
  vertical-align: middle;
}

div.info > span.label {
  display: none !important;
}

/* In our uv.tpl, we insert text and a button into the top line of the UV
frame.  To position the elements, I had to hack the UV CSS rather egregiously
as you can see below.  I suspect the more correct way of making these changes
would have been to create a custom UV theme, but the theme files are effing
huge (~200 KB) and I don't have the time to figure them out.  */

.centerOptions {
  left: unset !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  position: relative !important;
  width: max-content !important;
}

.uv .btn {
  padding: 6px !important;
}

.uv .headerPanel .options .rightOptions {
  width: 16em;
}

.uv .headerPanel .options .rightOptions button {
  float: right;       
}

.uv .headerPanel .options .rightOptions .btn {
  padding-right: 0px !important;
  margin-right: 0px6px !important;
}

/* Additional elements ..................................................... */

.uv .centerPanel .title {
  display: inline-block;
  height: 35px;
}

#expiration-info {
  float: left;
  display: inline;
  font-size: 10pt;
  margin-left: 1.3em;
  margin-top: 0.75em;
  vertical-align: center;
  color: #FF6C0C;
}

.end-loan-button {
  margin: 0.45em 1.1em auto 1em !important;
  vertical-align: center;
  font-size: 10pt !important;
  padding: 4pt 5pt !important;
  border-color: unset;
  border-top-width: unset;
  border-right-width: unset;
  border-bottom-width: unset;
  border-left-width: unset;
  border-top-style: unset;
  border-right-style: unset;
  border-bottom-style: unset;
  border-left-style: unset;
  border-top-color: unset;
  border-right-color: unset;
  border-bottom-color: unset;
  border-left-color: unset;
  border-image-source: unset;
  border-image-slice: unset;
  border-image-width: unset;
  border-image-unset: unset;
  border-image-repeat: unset;
}

#options-bar-loan-button {
  display: inline;
  margin-right: 0.5em;
}

#mobile-loan-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  z-index: 1000;
}

/* UV's CSS themes have a transition at 800px.  When you hit 800px, it removes
the top bar and left panel, but leaves the right panel bar.  This is the
point at which we switch our layout to show the second end-loan button, but
between 800 and 780px (see below), we have to make room for the right panel. */
@media screen and (max-width: 799px) {
  #expiration-info {
    display: none;
  }
  #options-bar-loan-button {
    display: none;
  }
  #mobile-loan-button {
    display: inline-block;
    margin-right: 1.5em;
    top: 1px;
  }
}

/* The next UV transition is at 780px, when the right panel disappears too.
We have to adjust our loan button again. */
@media screen and (max-width: 779px) {
  #mobile-loan-button {
    margin-right: 0em;
    right: 0px;
    top: 0px;
  }
}

/* The next one is for various other small devices with high pixel ratios.
- Pixel 2L
- Galaxy S3, S5
- Moto G4
*/

@media
screen and (max-device-width: 415px),
screen and (max-device-width: 415px) and (-webkit-device-pixel-ratio: 2.6),
screen and (max-device-width: 415px) and (-webkit-device-pixel-ratio: 3),
screen and (max-device-width: 415px) and (-webkit-device-pixel-ratio: 3.5),
screen and (max-device-width: 415px) and (-webkit-device-pixel-ratio: 4) {
  html, body {
    /* Undo a setting in our dibs.css that causes Safari on mobile to
    change spacing of elements differently from Chrome. */
    font-size: 1rem;
  }
  #expiration-info {
    display: none;
  }
  #options-bar-loan-button {
    display: none;
  }
  #mobile-loan-button {
    display: block;
  }
}
