::-webkit-input-placeholder                   { color: #bbb; }
html .form-control::placeholder               { color: #bbb; }
html .form-control::-webkit-input-placeholder { color: #bbb; }
html .form-control:-moz-placeholder           { color: #bbb; }
html .form-control::-moz-placeholder          { color: #bbb; }
html .form-control:-ms-input-placeholder      { color: #bbb; }
