<footer class="footer w-100 py-3 bg-secondary text-center" style="position: absolute; bottom: 0">
  <img alt="Caltech Library logo" title="Caltech Library" data-delta="1"
       class="media-element file-block-original" height="40" typeof="foaf:Image"
       src="https://www.library.caltech.edu/sites/default/files/logos/CLwhitewhiteVerticalwww.png">
  <span class="text-white px-5">
    Mail Code 1-43 | 1200 E California Blvd | Pasadena, CA 91125‑4300
  </span>
  <span class="px-5">
    <a href="https://www.library.caltech.edu/contact" class="text-white">
      Contact us</a>
  </span>
</footer>
