nav.md-tabs {
  display: none
}

figure {
  margin-top: 1.5em;
  text-align: center;
}

.button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  font-size: 90%;
  line-height: 1.2;
  margin: 0 .1em;
  padding: .15em .3em;
}

.color-info {
  background-color: #20a1b6;
  color: #fff;
}

.color-danger {
  background-color: #db3a4a;
  color: #fff;
}

.color-primary {
  background-color: #357bf6;
  color: #fff;
}

.color-secondary {
  background-color: #6c6c6c;
  color: #fff;
}

.color-not-available {
  background-color: #a6a6a6;
  color: #fff;
}
